<h1>Admin Page</h1>
<!-- Products -->
<div class="card m-4" style="background-color: #e9e9e9">
    <h3>Products management</h3><hr />
    <a class="ml-2 btn btn-info" style="width: 10em" href="newproduct">Add new</a>
    <div class="card-body">
        <% if @products && @products.size != 0%>
            <div class="card" style="width: 50%; height: 20em; overflow:auto;">
                <% @products.each do |product|%>
                    <div class="card" style="width: 100%">
                        <div class="card-body">
                            <strong><%=product.id%> - </strong><strong><%= product.name%></strong> -- £<%= product.price%>
                            <div class="float-right">
                                <%= link_to 'Edit', product_edit_path(product), :class => "btn btn-small btn-info", method: :post %>
                                <%= link_to 'Delete', product_delete_path(product), :class => "btn btn-small btn-danger", method: :delete, data: { confirm: 'Are you sure you want to delete selected product?' } %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        <% else %>
            <h3>No products have been advertised.</h3>
        <% end%>
    </div>
</div>

<!-- Products -->
<div class="card m-4" style="background-color: #e9e9e9">
    <h3>User management</h3><hr />
    <div class="card-body">
        <% if @users && @users.size != 0%>
            <div class="card" style="width: 50%; height: 20em; overflow:auto;">
                <% @users.each do |user|%>
                    <div class="card">
                        <div class="card-body">
                            <strong><%= user.id %> - </strong><strong><%= user.userName%></strong> - type: <%=user.userType%>
                            <div class="float-right">
                                <%= link_to 'Edit', user_edit_path(user), :class => "btn btn-small btn-info", method: :post %>
                                <%= link_to 'Delete', user_delete_path(user), :class => "btn btn-small btn-danger", method: :delete, data: { confirm: 'Are you sure you want to delete selected product?' } %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        <% else %>
            <h3>No users have been registered yet</h3>
        <% end%>
    </div>
</div>