<div class="container-flex">
    <h1>Population</h1><hr />
    <p>Please select two countries to compare their population changes in past two decades.</p>
    <p>By selecting the same country you can view that country's population growth.</p>
    <div class="m-2 d-flex justify-content-center">
        <div class="card" style="background-color: #e9e9e9">
            <div class="card-body">
                <%= render "countrySelectionForm"%>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Country 1 -->
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="card" style="background-color: #e9e9e9">
                <div class="card-body">
                    <h3>Country 1 details</h3>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="card" style="width: 260px; height: 200px; overflow:auto;">
                                <div class="card-body">
                                    <h2>Country details</h2><hr />
                                    <p><strong>Country Code:</strong> <%= @country1.countryCode %></p>
                                    <p><strong>Region:</strong> <%= @country1.region%></p>
                                    <p><strong>Income Group:</strong> <%= @country1.incomeGroup%></P>
                                    <p><strong>Special Notes:</strong> <%= @country1.specialNotes%></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="card" style="width: 260px; height: 200px; overflow: auto;">
                                <div class="card-body">
                                    <h2>Indicator details</h2><hr />
                                    <p><strong>Indicator Code:</strong> <%= @indicator1.indicator_code%></p>
                                    <p><strong>Indicator Name:</strong> <%= @indicator1.indicator_name%></p>
                                    <p><strong>Source Note:</strong> <%= @indicator1.source_note%></p>
                                </div>            
                            </div>
                        </div>     
                        <div class="col-xs-4">
                            <iframe width="260" height="200" frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAOfTYck0uRD8lQfauupsJgS_PLC5riwD4&q=<%=@population1.countryName%>"
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card" style="width: 800px; height: 400px;">
                            <div class="card-body">
                                <div id="container1" style="width:100%;height:400px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Country 2 -->
        <div class="col-sm-6col-md-6 col-lg-6">
            <div class="card" style="background-color: #e9e9e9">
                <div class="card-body">
                    <h3>Country 2 details</h3>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="card" style="width: 260px; height: 200px; overflow:auto;">
                                <div class="card-body">
                                    <h2>Country details</h2><hr />
                                    <p><strong>Country Code:</strong> <%= @country2.countryCode %></p>
                                    <p><strong>Region:</strong> <%= @country2.region%></p>
                                    <p><strong>Income Group:</strong> <%= @country2.incomeGroup%></P>
                                    <p><strong>Special Notes:</strong> <%= @country2.specialNotes%></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="card" style="width: 260px; height: 200px; overflow: auto;">
                                <div class="card-body">
                                    <h2>Indicator details</h2><hr />
                                    <p><strong>Indicator Code:</strong> <%= @indicator2.indicator_code%></p>
                                    <p><strong>Indicator Name:</strong> <%= @indicator2.indicator_name%></p>
                                    <p><strong>Source Note:</strong> <%= @indicator2.source_note%></p>
                                </div>            
                            </div>
                        </div>     
                        <div class="col-xs-4">
                            <iframe width="260" height="200" frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAOfTYck0uRD8lQfauupsJgS_PLC5riwD4&q=<%=@population2.countryName%>"
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card" style="width: 800px; height: 400px;">
                            <div class="card-body">
                                <div id="container2" style="width:100%;height:400px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <!-- Comparison summary chart -->
        <div class="m-5 ">
            <div class="card" style="width: 800px; height: 500px; background-color: #e9e9e9;">
                <div class="card-body">
                    <h3>Comparison summary</h3>
                    <div id="container" style="width:100%;height:400px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

 
<script type="text/javascript">
    $(function () {
        var myChart = Highcharts.chart('container',{
            chart: {
                type: 'line'
            },
            title: {
                text: 'Population \n (Source: World Bank)'
            },
            xAxis: {
                categories: <%=raw @years%>
            },
            yAxis: {
                title: {
                    text: 'Population'
                }, 
                label: {
                    format: '{$value}'
                },            
                tickInterval: 1000,
            },
            series: [{
                name: 'Population for ' + '<%=raw @country1.countryCode%>',
                data: <%=raw @annual_population1 %>
            },{
                name: 'Population for ' + '<%=raw @country2.countryCode%>',
                data: <%=raw @annual_population2 %>
            }]
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        var myChart = Highcharts.chart('container2',{
            chart: {
                type: 'line'
            },
            title: {
                text: 'Population \n (Source: World Bank)'
            },
            xAxis: {
                categories: <%=raw @years%>
            },
            yAxis: {
                title: {
                    text: 'Population'
                }, 
                label: {
                    format: '{$value}'
                },            
                tickInterval: 1000,
            },
            series: [{
                name: 'Population for ' + '<%=raw @country2.countryCode%>',
                data: <%=raw @annual_population2 %>
            }]
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        var myChart = Highcharts.chart('container1',{
            chart: {
                type: 'line'
            },
            title: {
                text: 'Population \n (Source: World Bank)'
            },
            xAxis: {
                categories: <%=raw @years%>
            },
            yAxis: {
                title: {
                    text: 'Population'
                }, 
                label: {
                    format: '{$value}'
                },            
                tickInterval: 1000,
            },
            series: [{
                name: 'Population for ' + '<%=raw @country1.countryCode%>',
                data: <%=raw @annual_population1 %>
            }]
        });
    });
</script>