<!DOCTYPE html>
<html>
  <head>
    <title>WPPage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #d2f8d2">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" style="color: purple; font-weight: bold">WPPage</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="population">Population</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="shop">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
        </ul>
        <% if session[:user_id] %>
          <%= link_to 'Log out', user_log_out_path, :class => "btn btn-info", method: :post %>
        <% else %>
          <%= form_tag user_log_in_path, :class => "form-inline" do %>
              <%= session[:user_id]%>
              <%= text_field_tag :userName, params[:userName], class: 'form-control m-1', placeholder: "username" %>

              <%= password_field_tag :password_digest, params[:password_digest], class: 'form-control m-1', placeholder: "password" %>

              <%= submit_tag "Login", class: 'btn btn-primary' %>

          <% end %>
        <% end %>

      </div>
    </nav>
    <div class="container-flex m-5">
      <%= yield %>
    </div>
  </body>
</html>
